*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 4rem 2rem;
  width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 8rem));
  justify-content: space-around;
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
}

a {
  font-size: clamp(1.5rem, 7vw, 3rem);
  color: #009efa;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  transition: 0.4s ease;
  height: min-content;
  background-image: linear-gradient(
    to right,
    #24c6dc 0%,
    #514a9d 51%,
    #24c6dc 100%
  );

  height: 100%;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  text-align: center;
  background-size: 200% auto;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
