*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem 5rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
  color: #ffff;
}

form {
  display: flex;
  flex-flow: column;
}

form label, button {
  margin-top: 1rem;
}

form input, button {
  padding: 1rem 1rem;
  width: 15rem;
}

form span {
  padding-top: 1rem;
}
